@{
    ViewBag.Title = "Music Catalog";
}

<div class="jumbotron">
    <h1>Music Catalog</h1>
    <p class="lead">The application is free to use. Before that, you have to get registered in the system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This system will give you access to millions of songs. If you have any trouble with managing favorite songs we have a solution for that.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Browse songs</h2>
        <p>
            We are adding newly released songs to the system on a daily basis. So, you will get access to those songs without any delay.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make your own playlist</h2>
        <p>
            If you have any trouble with managing favorite songs then don't worry we have a solution for that. You can make a list of your favorite songs and it will be stored in our database.
        </p>
    </div>
</div>